.title{
    font-size: 30px;
    font-weight: bolder;
    margin: auto;
    width: 50%;
}

.content-card{
    border-style: none;
    box-shadow: 0 10px 20px 2px  #b3bbc673;
    width: 50%;
    height: 450px;
    margin: auto;
    
}   

.date{
    width: 120px;
    height: 32px;
    display: block;
    margin-top: 16px;

}

.base-currency{
    display: flex;
    margin-top: 16px;

}

.quote-currency{
    display: flex;
    margin-top: 16px;


}       

.currency-options{
    width: 120px;
    height: 48px;
    margin-top: 16px;
}

.amount{
    display: flex;
    width: 120px;
    height: 48px;
    margin-top: 16px;

}